*{
    padding: 0;
    margin: 0;
}

:root {
    --purple_d: #9926f0;
    --purple_l: #bb6ef5;
    --n-color: rgba(234, 237, 243, 0.932);
    /* main */
  --primary-500: #645cff;
  --primary-600: #554ed9;
  --primary-700: #4640b3;
  --primary-800: #403e72;
  --primary-900: #5852be;
  --primary-1000: #2d288f;
  --primary-1100: #0a0919;
}


.nb{
    background-color: var(--primary-800);
    font-size: 2rem;
}
.navbar-brand{
    font-size: 2rem;
    font-family: cursive;
}
.navbar-light .navbar-brand{
    color: rgba(234, 237, 243, 0.932);
}
.navbar-nav{
    font-size: 1.7rem;
    color: rgba(234, 237, 243, 0.932);
}
.nav-link{
    color: rgba(234, 237, 243, 0.932);
}
.navbar-light .navbar-nav .nav-link{
    color: white;
    padding: 0.4rem;
}
.btn{
    border-radius: 10px;
    border: 2px solid ;
    color:var(--primary-1000);
    font-size: 30px;
    padding: 7px;
    margin-top: 1rem;
}

.display-2{
    text-transform: capitalize;
    margin-top: 2rem;
}
.intro{
    display: inline-block;
    font-weight: 700;
    font-size: 4rem;
}
.description{
    display: block;
    font-size: 1.5rem;
}

.intro-section{
    padding: 3rem 0 0 0;
    width: 100%;
    height: 100%;
}

.heading-line::before{
    content: "";
    width: 10rem;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    background-color: var(--primary-1000);
}
.heading-line::after{
    content: "";
    width: 2rem;
    height: 0.2rem;
    padding-top: 0.5rem;
    display: block;
    margin: 0 auto;
    background-color: var(--primary-1000);
}

.stack{
    padding: 0 0 5rem 0;
}
.logo-box{
    max-width: 100%;
    height: 5rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    text-align: center;
    position: relative;
}
.logo-box > img{
    height: 100%;
}
.logo-box > img:hover{
    filter: grayscale(120);
}

.border-right{
    border-right: 0.1rem solid #2d288f;
    height: 100%;
}
.services{
    position: relative;
}
.services > content{
    padding: 1rem;
    margin-top: 5rem;
}
.icon{
    font-size: 4rem;
    color: var(--primary-1000);
}
.title{
    font-weight: 700;
    color: #2d288f;
    text-transform: capitalize;
    display: inline-block;
}


/* for project css */
.project{
    position: relative;
    padding: 0;
}
.c-img > img{
    height: 25rem;
    width: 100%;
    left: 50%;
    transform: translate(-50% -50%);
}
.c-descrip >a{
    text-decoration: none;
    color: var(--primary-1000);
    font-size: 1.3rem;
    margin: 2px 5px;
    padding: 5px;
}


/* for contact page */
.contact{
    margin-top: 4rem;
    padding: 4rem 0;
    background-color: rgb(233, 227, 227);
}
.c-grad{
   background-color: var(--primary-1000);
}
.info{
    padding: 3rem;
    margin: 1rem 0;
}
.list{
    position: relative;
    list-style-type: none;
    display: block;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    margin-bottom: 0.7rem;
}
.c-title{
    color: #2d288f;
    font-weight: 500;
    text-transform: capitalize;
    padding-left: 1.8rem;
}
.c-btn{
    color: white;
    font-weight: 600;
    /* font-size: 3rem; */
    background-color: #2d288f;
}
.c-btn:hover{
    background: rgb(58, 48, 48);
    color: rgb(241, 234, 234);
    border: none;
}


/* for footer */
.footer{
    padding: 1rem;
    background-color: #151414 ;
}
.ct-box{
    position: relative;
}
.ct-box > .ct-icon{
    width: 4rem;
    padding-top: 0.5rem;
}
@media (max-width: 767.98px) {
    .ct-box > .ct-icon{
        width: 2rem;
    }
}

.ct-info{
    padding: 0.4rem;
    font-weight: 600;
}
.ct-info-title{
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
}
@media (max-width: 767.98px) {
    .ct-info-title{
        font-size: 1rem;
    }
}

.sm-link{
    color: white;
}
.sm-icon{
    font-size: 1.3rem;
    margin-left: 1rem
}
.f-year{
    color: white;
}

.back-2-top{
    position: fixed;
    width: 3rem;
    height: 3rem;
    z-index: 9999;
    right: 1.875rem;
    bottom: 1.875rem;
}
.back-2-top > i{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 0.7rem;
    margin-top: 1.5rem;
}


/* for about */
.a-title{
    margin-top: 5rem;
}
.a-para{
    padding: 7px;
    font-size: 1.4rem;
    
}