<%- include ("partials/header") -%>


<section class="about">
    <div class="container">
        <div class="row text-center a-title">
            <h1 class="fw-bold display-3" style="color: #2d288f;">About me</h1>
            <div class="heading-line mb-1" ></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class=" col-md-6">
                <div class="a-img">
                    <img src="/images/mypicx.jpg" alt="my picx" class="img-fluid">
                </div>
            </div>
            <div class=" col-md-6 p-4 mt-5 ">
                <div class="a-para">
                    <p>
                        I am Chidubem Ernest, a full-stack developer from Nigeria who solves problems by breathing internet life into ideas
                        and simplifying even the most complex of ideas.
                        I build scalable web-apps that are asthetically pleasing, 
                        responsive and efficient. My experience in web design and development is enormous and spans through various areas in the field. 
                        I can work remotely and across all time-zone. Aside keeping up with trends in web development, I also have interest in afrobeat music and football.
                        
                        
                    </p>
                </div>
            </div>
        </div>
    </div> 
</section>


<%- include ("partials/footer") -%>