<%- include ("partials/header") -%>


<section class="about">
    <div class="container">
        <div class="row text-center a-title">
            <h1 class="fw-bold display-3" style="color: #2d288f;">About me</h1>
            <div class="heading-line mb-1" ></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class=" col-md-6">
                <div class="a-img">
                    <img src="/arts/art_db.png" alt="my picx" class="img-fluid">
                </div>
            </div>
            <div class=" col-md-6 p-4 mt-5 ">
                <div class="a-para">
                    <p>
                        I am Chidubem Ernest, from Nigeria. I am a full-stack developer who loves to solve problems 
                        through simplifying the complexity. I build scalable web-apps that are asthetically pleasing, 
                        responsive and efficient. I have a wide range of experience in making in software development 
                        and I am always open to learning new things. I can work remotely and with any time-zone.
                        Working with me can only bring you good tidings as I can confirm you by my previous client's review.
                        you can pick me with an asssurance of honesty and best services. 
                        
                    </p>
                </div>
            </div>
        </div>
    </div> 
</section>


<%- include ("partials/footer") -%>