<%- include ("partials/header") -%>


<section class="contact">
    <div class="container">
        <div class="row text-center">
            <h1 class="display-3 fw-bold text-capitalize">get in touch </h1>
            <div class="heading-line mb-1"  ></div>
        </div>

        <div class="row text-white mt-5">
            <div class="col-12 col-lg-6 c-grad p-3 shadow">
                <div class="w-100 info ">
                    <h4 class="display-4 fw-bold text-capitalize" >100% satisfaction guaranteed</h4>
                    <h3 class="dispaly-3 c-info">What will be the next step?</h3>
                    <ul class="list text-capitalize" style="font-size: 1.3rem;">
                        <li><i class="bi bi-check-lg" style="margin-right: 10px; font-size: 1.8rem;"></i>You lay out your ideas.</li>
                        <li><i class="bi bi-check-lg" style="margin-right: 10px; font-size: 1.8rem;"></i>I prepare a proposal.</li>
                        <li><i class="bi bi-check-lg" style="margin-right: 10px; font-size: 1.8rem;"></i>We will discuss it.</li>
                        <li><i class="bi bi-check-lg" style="margin-right: 10px; font-size: 1.8rem;"></i>Send a message, let's start.</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-6 bg-white shadow p-3">
                <div class="form w-100 pb-2" >
                    <h4 class="display-3 c-title mb-5">Send a message</h4>
                    <form action="#" class="row" id="c-form" >
                        <div class="mb-3 col-lg-6">
                            <input type="text" class="form-control shadow form-control-lg" id="firstname" placeholder="First Name">
                        </div>
                        <div class="mb-3 col-lg-6" >
                            <input type="text" class="form-control shadow form-control-lg" id="lastname" placeholder="Last Name">
                        </div>
                        <div class="mb-3 col-lg-12">
                            <input type="email" class="form-control shadow form-control-lg" id="email" placeholder="Your Email address">
                        </div>
                        <div class="mb-3 col-lg-12">
                            <textarea name="message" id="message" class="form-control shadow form-control-lg" placeholder="Enter your message here" rows="8"></textarea>
                        </div>
                        <div class="d-grid text-center mt-1">
                            <button type="submit" value="sendMessage" class="btn btn-primary rounded-pill pt-3 pb-3 c-btn">Submit <i class="bi bi-send-fill"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include ("partials/footer") -%>