<%- include ("partials/header") -%>


<section class="contact">
    <div class="container">
        <div class="row text-center">
            <h1 class="display-3 fw-bold text-capitalize">get in touch </h1>
            <div class="heading-line mb-1"  ></div>
        </div>

        <div class="row text-white mt-5">
            <div class="col-12 col-lg-6 c-grad p-3 shadow">
                <div class="w-100 info ">
                    <h4 class="display-4 fw-bold text-capitalize" >100% satisfaction guaranteed</h4>
                    <h3 class="dispaly-3 c-info">What will be the next step?</h3>
                    <ul class="list">
                        <li>I will prepare a proposal</li>
                        <li>We will discuss it together</li>
                        <li>Send a message, let start the discussion</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-6 bg-white shadow p-3"></div>
        </div>
    </div>
</section>


<%- include ("partials/footer") -%>