<%- include ("partials/header") -%>

    <section id="home" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 intros">
                    <h1 class="display-2">
                        <span class="display-2 intro">
                            Hey!, I'm chidubem
                        </span>
                        <span class="display-2 lh-base description">
                            A Fullstack Web Developer with high level 
                            of experience in both frontend and backend web development.
                            I design and and develop high quality websites. 
                        </span>
                    </h1>
                    
                    <button class="btn" type="submit">Hire me<i class="bi bi-arrow-right-circle-fill" style="margin-left: 5px;"></i></button>
                    <!-- <button class="btn">Hire me<i class="bi bi-arrow-right-circle-fill"></i></button> -->
                    <div style="margin-top: 1.7rem;">
                        <a href="https://github.com/Chidubem100" target="_blank">
                            <i class="bi bi-github" style="color: #2d288f; font-size: 3.5rem; margin: 7px;"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/chidubem-nnajiogbe-6604a2231" target="_blank">
                            <i class="bi bi-linkedin" style="color: #2d288f; font-size: 3.5rem;"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 intros text-end" style="margin-top: 3rem;">
                    <div class="vid-box">
                        <img src="/arts/art1.png"  alt="illustration" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="stack mt-3" id="stack">
        <div class="container">
            <div class="row text-center">
                <h4 class="fw-bold lead mb-3" >Technologies I Use</h4>
                <div class="heading-line mb-5" ></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-2"> 
                    <div class="logo-box shadow-sm">
                        <img src="/images/nodejs.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-4 col-lg-2">
                    <div class="logo-box shadow-sm" >
                        <img src="/images/express_img.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-4 col-lg-2">
                    <div class="logo-box shadow-sm">
                        <img src="/images/mongo.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-4 col-lg-2">
                    <div class="logo-box shadow-sm">
                        <img src="/images/js.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-4 col-lg-2">
                    <div class="logo-box shadow-sm">
                        <img src="/images/react.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-4 col-lg-2">
                    <div class="logo-box shadow-sm">
                        <img src="/images/bootstrap.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="services mt-4" id="#services">
        <div class="container">
            <div class="row text-center">
                <h1 class="fw-bold display-3" >My Services</h1>
                <div class="heading-line mb-1" ></div>
            </div>
        </div>

        <div class="container">
            <div class="row pt-2 pb-2 mb-3 mt-0">
                <div class="col-md-6 border-right">
                    <div class="bg-white p-3">
                        <h2 class="fw-bold text-capitalize text-center">
                            My services range from initial design to deployment anywhere and anytime.
                        </h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bg-white p-4 text-start ">
                        <p class="fw-light">
                            I build high and efficient websites that will help you scale up your business. I also help my clients put
                            in their ideas into reality by making an efficient project. 
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 services col-sm-12 col-xs-12 mt-4">
                    <div class="content">
                        <div class="icon d-block bi bi-code-slash"></div>
                        <h3 class="display-3 title mt-1">Web Development</h3>
                        <p class="lh-lg">
                            I build all kinds of websites ranging from simple personal blogs to E-commerce websites and different kinds of websites for varieties of purposes
                            using modern technologies and good practice to deliver the best for my clients. 
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 services col-sm-12 col-xs-12 mt-4 text-end">
                    <div class="content">
                        <img src="/arts/art_webd.png" alt="web development illustration " class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6 services col-sm-12 col-xs-12 mt-4 text-start">
                    <div class="content">
                        <img src="/arts/art_db.png" alt="cloud hosting illustration" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 services col-sm-12 col-xs-12 mt-4">
                    <div class="content">
                        <div class="icon bi bi-cloud-arrow-up "></div>
                        <h3 class="display-3 title mt-1">Cloud Hosting</h3>
                        <p class="lh-lg">
                            I source competent, trusted and secure hosting companies for my clients to maximize website efficiency while minimizing 
                            possibilities of data loss or theft.                  
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- <section class="project mb-5" id="project">
        <div class="container">
            <div class="row text-center ">
                <h1 class="display-3 fw-bold">Latest Projects</h1>
                <div class="heading-line mb-1"  ></div>
            </div>

            <div class="row align-item-center" >
                <div id="carouselExampleCaptions" style="margin: 0 auto;" class="carousel slide" data-bs-ride="carousel">
                   
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="c-img">
                                <img src="/arts/art1.png" alt="projec img">
                            </div>
                            <div class="c-descrip text-center">
                                <a href="#" target="_blank">Link to the github repo</a>
                                <br>
                                <a href="#" target="_blank">Link for preview</a>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="c-img">
                                <img src="/arts/art1.png" alt="projec img">
                            </div>
                            <div class="c-descrip text-center">
                                <a href="#" class="text-center" target="_blank">Link to the github repo</a>
                                <br>
                                <a href="#" target="_blank">Link for preview</a>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="c-img">
                                <img src="/arts/art1.png" alt="projec img">
                            </div>
                            <div class="c-descrip text-center">
                                <a href="#" target="_blank">Link to the github repo</a>
                                <br>
                                <a href="#" target="_blank">Link for preview</a>
                            </div> 
                        </div>
                     
                      
                    </div>
                    <button class="carousel-control-prev"  type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </div> -->
    <!-- </section> -->






<%- include ("partials/footer") -%>