<%- include ("partials/header") -%>

    <section id="home" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 intros">
                    <h1 class="display-2">
                        <span class="display-2 intro">
                            Hey!, I'm chidubem
                        </span>
                        <span class="display-2 lh-base description">
                            A Fullstack Web Developer with high level 
                            of experience in both frontend and backend web development.
                            I design and and develop high quality websites. 
                        </span>
                    </h1>
                    
                    <button class="btn" type="submit">Hire me<i class="bi bi-arrow-right-circle-fill" style="margin-left: 5px;"></i></button>
                    <!-- <button class="btn">Hire me<i class="bi bi-arrow-right-circle-fill"></i></button> -->
                    <div style="margin-top: 1.7rem;">
                        <a href="www.github.com/Chidubem100" target="_blank">
                            <i class="bi bi-github" style="color: #2d288f; font-size: 3.5rem; margin: 7px;"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="bi bi-linkedin" style="color: #2d288f; font-size: 3.5rem;"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 intros"></div>
            </div>
        </div>
    </section>

<%- include ("partials/footer") -%>